@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    overflow-y: hidden;
    overflow-x: hidden;
}
header{
    height: 15vh;
    background: #F8F9F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    box-shadow: 0 0 1rem black;
}
img {
    display: flex;
    height: 45px;
    width: auto;
    margin-right: auto;
    cursor: pointer;
    padding-left: auto;
}
li ,a{
    font-family: "Montserrat", sans-serif;
    font-weight:500 ;
    font-size: 16px;
    color: #1F618D ;
    list-style-type: none;
    cursor: pointer;
}
.link li {
    display: inline-block;
    padding: 0px 20px;
}
.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight:500 ;
    font-size: 16px;
    color: black ;
}
    .png{
        text-decoration: solid;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    section.sobre{
        position: relative;
        height: calc(100%-200px);
    }
    .extras{
        position: absolute;
        bottom: -450px;
        right: -500px;
        width: 1200px;
        height: 1200px;
        border-radius: 50%;
        background-color: #017143;
    }
  
